html,body,.megadiv {
    margin:0;
    padding:0;
    background-image: url("img/bg-light.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size:cover;
    text-shadow: 2px 2px 2px black;
}
a { 
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: #a9d33c;

}
.titlebox {
    margin: auto;
    padding: 20px;
    width: auto;
    height: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 52px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: #a9d33c;

}

.navbar {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: white;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(49, 47, 47);
    background-position: left top;
    background-repeat: repeat;
    padding: 10px 20px;
    width: 75%;
    height: auto;
    
}

.mainboxes {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: white;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(20, 24, 20, 0.671);
    background-position: left top;
    background-repeat: repeat;
    padding: 10px 20px;
    width: 75%;
    height: auto;
    
}

.legalboxes {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    color: white;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(10, 20, 14, 0.493);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 75%;
    height: auto;
    
}

.headerDarkBG {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    border-radius: 10px;
    background-color: rgb(49, 47, 47);
    color: #a9d33c;}